# Project 
openprinttag-database/
openprinttag-database-old/
# Virtual environment
.venv/
venv/
# misc
.DS_Store
output/
output_printonion/
test.py
addnorth-petg-black.yaml
addnorth_petg_missing.csv
missing_properties.py
qidi_petg_missing.csv
missing_properties/
